
$comment-bg: $white;

.comment-section{
    //padding: 30px 0;
    //background-color: $comment-bg;

    @include styleSection(30px, 30px, $comment-bg);
}

.comment-list{
    list-style: none;
    padding: 0;


    .comment-item{
        display: flex;

        .comment-img{
            flex: 0 0 50px;
            img{
                @include radius(50%);
            }
        }
        
        .comment-body{
            padding-left: 10px;
        }
        //comment-img end
    }
    //comment-item end
}
//comment-list end


/*.comment-img{
    img{
        @include radius(50%);
    }
}
*/

@media(min-width:768px){
    .comment-section{
        
        .comment-list{
            .comment-img{
                flex: 0 0 90px !important;
            }
        }
    }
}

